[alias]
	# branch
	b = branch
	bc = checkout -b
	bl = branch -v
	bL = branch -av
	bx = branch -d
	bX = branch -D
	bm = branch -m
	bM = branch -M
	bs = show-branch
	bS = show-branch -a

	# checkout
	co = checkout
	co0 = checkout HEAD --

	# fetch
	f = fetch
	fm = pull
	fo = fetch origin

	# merge
	m = merge
	mom = merge origin/master

	# push
	p = push
	pa = push --all
	pt = push --tags

	# rebase
	r = rebase
	ra = rebase --abort
	rc = rebase --continue
	ri = rebase --interactive
	rs = rebase --skip
	rom = rebase origin/master

	# commit
	c = commit -v
	ca = commit --all -v
	cm = commit --message
	cam = commit --all --message
	camend = commit --amend --reuse-message HEAD
	cundo = reset --soft "HEAD^"
	cp = cherry-pick

	# diff
	d = diff           # Diff working dir to index
	ds = diff --staged # Diff index to HEAD
	dc = diff --staged # Diff index to HEAD
	dh = diff HEAD     # Diff working dir and index to HEAD
	hub = browse
	hubd = compare

	# index
	s = status
	a = add
	ia = add
	ir = reset

	# log
	l = log --topo-order --pretty=format:'%C(yellow)%h %C(cyan)%cn %C(blue)%cr%C(reset) %s'
	ls = log --topo-order --stat --pretty=format:'%C(bold)%C(yellow)Commit:%C(reset) %C(yellow)%H%C(red)%d%n%C(bold)%C(yellow)Author:%C(reset) %C(cyan)%an <%ae>%n%C(bold)%C(yellow)Date:%C(reset)   %C(blue)%ai (%ar)%C(reset)%n%+B'
	ld = log --topo-order --stat --patch --full-diff --pretty=format:'%C(bold)%C(yellow)Commit:%C(reset) %C(yellow)%H%C(red)%d%n%C(bold)%C(yellow)Author:%C(reset) %C(cyan)%an <%ae>%n%C(bold)%C(yellow)Date:%C(reset)   %C(blue)%ai (%ar)%C(reset)%n%+B'
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	lga = log --topo-order --all --graph --pretty=format:'%C(yellow)%h %C(cyan)%cn%C(reset) %s %C(red)%d%C(reset)%n'
	lm = log --topo-order --pretty=format:'%s'
	lh = shortlog --summary --numbered
	llf = fsck --lost-found
	lg1 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all

	# remote
	rem = remote
	reml = remote --verbose
	rema = remote add
	remx = remote rm
	remm = remote rename

	# restore
	res = restore
	ress = restore --staged

	# switch
	sw = switch
	swc = switch --create

[apply]
	whitespace = fix

[branch]
	autosetuprebase = always

[color]
	branch = always
	diff = always
	grep = always
	interactive = always
	pager = true
	showbranch = auto
	status = auto
	ui = always

[core]
	editor = code --wait
	excludesfile = ~/.gitignore_global
	pager = less -FRSX
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol

[credential]
	helper = osxkeychain

[diff]
	tool = vimdiff

[difftool]
	prompt = false

[format]
	pretty = oneline

[help]
	autocorrect = 1

[heroku]
	account = andrewgarner

[interactive]
	diffFilter = `brew --prefix`/share/git-core/contrib/diff-highlight/diff-highlight

[merge]
	tool = Visual Studio Code

[merge "npm-merge-driver"]
	name = Automatically merge Node Package Manager lockfiles
	driver = npx npm-merge-driver merge %A %O %B %P

[mergetool "Visual Studio Code"]
	cmd = code --wait --diff $LOCAL $REMOTE

[pager]
	log = `brew --prefix`/share/git-core/contrib/diff-highlight/diff-highlight | less
	show = `brew --prefix`/share/git-core/contrib/diff-highlight/diff-highlight | less
	diff = `brew --prefix`/share/git-core/contrib/diff-highlight/diff-highlight | less

[push]
	default = current

[rebase]
	autosquash = true
	autostash = true

[url "git@github.com:"]
	insteadof = github:

[user]
	name = "Andrew Garner"
	email = "andrew@andrewgarner.com"
